<?xml version="1"?>
<launch>
 <!--include file="$(find bot_model)/world/sample.world"-->
 <include file="$(find gazebo_ros)/launch/mud_world.launch">
   <!--arg name="headless" value = "false"/>
   <arg name="gui" value = "false" />
   <arg name = "paused" value = "false"/-->
   </include>
     <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model mybot -param robot_description"/>
<param name = "robot_description" command = "cat '$(find bot_model)/urdf/mybot.urdf' "/>
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
   
    <!--node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /-->
 <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
 
<node name = "rviz" pkg = "rviz" type = "rviz" args="-d $(find bot_model)/config/config.rviz" />

  <!-- send joint values -->
  
  
</launch>
